<style>
    #footer-template {
        font-size: 10px;
        color: #808080;
        font-weight: bold;
        width: 100%;
        padding: 0 20px;
    }

    #footer-template table {
        width: 100%;
        border-collapse: collapse;
    }

    #footer-template td {
        text-align: right;
        padding-left: 10px;
    }
</style>

<div id="footer-template">
    <table>
        <tr>
            <td>Page <span class="pageNumber"></span> / <span class="totalPages"></span></td>
        </tr>
    </table>
</div>
